.ls-categories .list-group-item:hover{

    background-color:gray;
}

.ls-categories .list-group-item.active:hover{
    background-color: rgb(13, 110, 253);
}

footer{

    height: 100px;
}

footer p{

    line-height: 100px;
    text-align: center;
        
}